.wrapper{
  display: FLEX;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  background-color: #fff;
}
.wrapper:hover{
  box-shadow: 0 0 4px 0 #d8d8d8;
}
.img{
  max-width: 100px;
  max-height: 150px;
  min-height: 100px;
}

.prevImg{
  max-width: 100%;
  max-height: 400px;
}
.prevWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
