.title{
	position: relative;
	padding: 0 24px;
	overflow: hidden;
	background: #001529;
	cursor: pointer;
	transition: all .3s;
	display: flex;
	align-items: center;
	height: 55px;
	color: #fff;
}
.logo{
	composes: title;
	font-size: 20px;
	padding: 0;
}
.name{
	composes: title;
	padding:0 0 0 .5em;
}