.container{
	height: 100vh;
	background: url("../../static/login-bg.svg") no-repeat center;
	background-size: contain;
	text-align: center;
}
.formWrapper{
	width: 500px;
	margin: 25vh auto 0;
	padding: 50px;
	display: inline-block;
	text-align: initial;
	border: 1px solid rgba(0, 0, 0, 0.09);
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}
.title{
	color: #40a9ff;
	font-weight: BOLD;
	text-align: center;
	font-size: 30px;
	font-family: cursive;
	margin: 20px 0 30px;
}
.loginBtn{
	width: 100%;
	height: 50px;
	font-size: 20px;
	letter-spacing: 10px;
}
